* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    width: 100%;
    margin: 0;
    background-color: rgb(242, 242, 242);
}

/* ------------ FILLIMI I KRIJMIT TE HEADER ----------------*/
.header {
    width: 100vw;
    position: sticky;
    z-index: 1;
    top: 0;
    background-color: white;
}

@media screen and (max-width:1280px) {
    .searchBar {
        display: none;
    }
}


a {
    text-decoration: none;
}

nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
}

.navText {
    color: rgb(215, 8, 8);
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
}

.navbar li {
    /* display: inline-block; */
    list-style-type: none;
    padding: 15px 20px;
    cursor: pointer;
}

.navbar .active {
    background-color: rgb(215, 8, 8);
}

.navbar .active a {
    color: white;
}

.navbar li a {
    color: black;
    letter-spacing: 1px;
}

.navbar li:hover {
    background-color: rgb(215, 8, 8);
    transition: .4s;
}

.navbar li:hover a {
    color: white;
    transition: .4s;
}

.register {
    display: inline-block;
}

.drop_link {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    margin-top: 15px;
    margin-left: -20px;
    z-index: 1;
}

.drop_link a {
    color: black !important;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.drop_link a:hover {
    background-color: #f9f9f9;
}

.register:hover .drop_link {
    display: block;
}


.searchBar input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
}

.searchBar button {
    float: right;
    padding: 8px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}



.container {
    width: 100%;
}

/* ---------------------*/


/* -------- CATEGORIES PAGE STYLE ---------- */



.categoriesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 70px;
    padding-left: 10%;
    padding-right: 10%;
}

.category {
    margin-top: 20px;
    width: 45%;
}

@media screen and (max-width:1280px) {
    .categoriesContainer {
        width: 100%;
        justify-content: center;
    }

    .category {
        width: 80%;
    }
}

@media screen and (max-width:480px) {
    .categoriesContainer {
        justify-content: stretch;
    }
}

.categoryTitle {
    font-size: 29px;
    font-weight: normal;
    display: inline;
}

.titleHolder a {
    float: right;
    margin-top: 13px;
    color: black;
}

.titleHolder a:hover {
    color: rgb(215, 8, 8);
    transition: .3s;
}

.categories_card_holder {
    margin-top: 20px;
    position: relative;

}

.categories_card_holder .slider {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 2) - 9px);
    gap: 15px;
    overflow: hidden;
    padding-left: 0px;
    scroll-behavior: smooth;

    /* transition: transform 0.5s ease; */
}

.categories_card_holder i {
    width: 40px;
    height: 40px;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.33);
    color: black;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    line-height: 40px;
    position: absolute;
}

.categories_card_holder i:hover {
    background-color: rgb(215, 8, 8);
    color: white;
    transition: .5s;
}

.categories_card_holder i:first-child {
    left: -25px;
    top: 45%;
}

.categories_card_holder i:last-child {
    right: -25px;
    top: 45%;

}

@media screen and (max-width:600px) {
    .categories_card_holder .slider {
        grid-auto-columns: 100%;
    }
}

.card {
    background-color: white;
    list-style: none;
    height: 100%;
    padding-bottom: 20px;
    /* margin-left: 10px;
    margin-right: 10px; */
}

.cardContent {
    margin: 15px;
}

.categoryLink {
    color: rgb(215, 8, 8);

}

.categoryLink:hover {
    text-decoration: underline;
}



.cardTitle {
    font-size: 25px;
    color: black;
    font-weight: normal;
    margin-top: 7px;
}

.cardTitle a {
    color: black;
}

.cardText {
    color: rgb(89, 87, 87);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}


/*  SIGNUP STYLE   */

.registerBox {
    margin: 150px auto 0px auto;
    width: 550px;
    height: 600px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.33);
    text-align: center;
}

.registerBox>h1 {
    font-size: 40px;
    padding-top: 50px;
}

.registerBox form {
    margin-top: 60px;
}

.registerBox input[type=text],
.registerBox input[type=email],
.registerBox input[type=password] {
    width: 60%;
    height: 20px;
    margin: 30px auto;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    display: block;
}

.registerBox input[type=submit] {
    width: 64%;
    height: 40px;
    background: rgb(215, 8, 8);
    color: white;
    cursor: pointer;
    font-size: 14px;
    margin: 20px auto;
    padding: 10px;
    border: none;
    border-radius: 5px;
    display: block;
}

.registerBox a {
    color: rgb(215, 8, 8);
}

.registerBox a:hover {
    text-decoration: underline;
}

.titleHolder a {
    float: right;
    margin-top: 13px;
    color: black;
}

.titleHolder a:hover {
    color: rgb(215, 8, 8);
    transition: .3s;
}



/*   SINGLE PAGE STYLE   */

.single-container {
    display: flex;
    justify-content: space-around;
    padding-left: 15%;
}

.post-title {
    font-size: 36px;
    margin-bottom: 20px;
}

.post-img {
    width: 70%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.post-body {
    width: 70%;
    line-height: 1.6;
}

.sidebar {
    width: 400px;
    margin-left: -20%;
    padding-right: 15%;
    margin-top: 60px;
}

.section {
    margin-top: 30px;
}

.sidebar h2 {
    padding: 10px;
    background-color: white;
}

.section-post {
    margin-top: 10px;
    display: flex;
    background-color: white;

}

.section-post img {
    width: 40%;
}

.section-post a {
    margin: 10px 15px;
    color: black;
    font-size: 17px;
}


@media screen and (max-width:1240px) {
    .single-container {
        flex-direction: column;
        align-content: center;
    }

    .sidebar {
        width: 70%;
        margin: 0px;
    }

}